.color-navbar {
  background-color: red;
}

.flexcenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.img-carrito {
  width: 100px;
  height: 100px;
}

.card-product {
  width: 25rem;
}
