.color-navbar {
  background-color: aqua;
}

.flexcenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.img-carrito {
  width: 100px;
  height: 100px;
}

.card-product {
  width: 25rem;
  border: 12px double #50ffac;
  box-shadow: -3px -2px 42px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -3px -2px 42px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -3px -2px 42px 8px rgba(0, 0, 0, 0.1);
}

.card-product:hover {
  background-color: rgb(186, 236, 220);
}

.footer-img {
  width: 35px;
  margin-left: 1rem;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  font-family: Karla;
  font-size: 1.5rem;
  min-height: 100vh;
  position: relative;
}

footer {
  margin-top: 3rem;
  padding: 1rem;
  font-size: 1.2rem;
}

.nav-link {
  border-radius: 25px;
  margin-left: 2rem;
}
.nav-link:hover {
  background-color: #50ffac;
  border-radius: 25px;
}

.item-detail__title {
  font-size: 3rem;
  text-transform: uppercase;
}

.item-count {
  border-radius: 26px 26px 26px 26px;
  -webkit-border-radius: 26px 26px 26px 26px;
  -moz-border-radius: 26px 26px 26px 26px;
  border: 20px dashed #35e89c;
}

.item-count__text {
  font-size: 1rem;
}

.item-count__inputs {
  background-color: rgb(72, 247, 124);
  margin: 0 0.5rem;
  border-radius: 25px;
  padding: 0 1.5rem;
}
